body {
  margin: 0;
  box-sizing: border-box;
}

/* Stroke blir för bred. Fungerar inte på typsnittet?
h2 {
  -webkit-text-stroke: .01rem var(--crlWhite);
} 
*/

:root {
  --clrBlack: black;
  --clrWhite: white; 
  --clrPink: #F8ABC7;
  --clrBlue: #92D2F5;
  --clrOrange: #FFBE85;
}
