@font-face {
  font-family: tivoli;
  src: url('./assets/tivolifont.ttf');
}

body {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--crlPink);
  font-size: 5rem;
  -webkit-text-stroke: 3px var(--crlWhite);
}

:root {
  --crlBlack: black;
  --crlWhite: white; 
  --crlPink: #F8ABC7;
  --crlBlue: #92D2F5;
  --crlOrange: #FFBE85;
}
