@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--crlPink);
  border: 5px solid #FFFFFF;
  font-size: 5rem;
}

:root {
  --crlBlack: black;
  --crlPink: #F8ABC7;
  --crlBlue: #92D2F5;
  --crlOrange: #FFBE85;
}
