@font-face {
  font-family: tivoli;
  src: url('./assets/tivolifont.ttf');
}

body {
  margin: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--crlPink);
  border: 5px solid #FFFFFF;
  font-size: 5rem;
}

:root {
  --crlBlack: black;
  --crlPink: #F8ABC7;
  --crlBlue: #92D2F5;
  --crlOrange: #FFBE85;
}
